name: Devenv Image

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * 1'
  push:
    paths:
      - devenv.nix
      - devenv.yaml
      - devenv.lock
      - .github/workflows/devenv-image.yml
      - .github/workflows/reusable-devenv-image.yml

jobs:
  build-image:
    uses: ./.github/workflows/reusable-devenv-image.yml
    with:
      runner-label: devenv-image-gen
      snapshot-name: ${{ github.event.repository.name }}-devenv
      activation-script-path: /home/runner/copilot-devenv-activate.sh
      summary-workflow-path: .github/workflows/devenv-image.yml
    secrets: inherit
